.leftAside ul{
    padding-left: 25px;
    font-size: 20px;
}
.leftAside ul li{
    list-style-type:disc;
    padding-bottom: 10px;
}

.leftAside ul li:hover{
    text-decoration:underline;
    color: brown;
    font-size: 1.1em;
}